.chat-ai {
  display: flex;
}

.chat-ai-avator {
  display: inline-block;
  margin-top: 15px;
  width: 29px;
  height: 29px;
  padding: 2px;
  border-radius: 50%;
  border: #ffffff4b 1px solid;
}

.chat-ai-answer {
  max-width: 700px;
  margin-left: 10px;
  margin-top: 20px;
  padding: 15px;
  padding-left: 25px;
  transition: all 0.6s ease;
  color: #fff;
  font-size: 14px;
  background-color: #605f5f;
  border-radius: 10px;
  border: 1px solid #ffffff4b;
  margin-bottom: 10px;
}
.chat-ai-answer code {
  background-color: #2D2D2D !important;
  overflow: auto;
}
.chat-ai-answer pre {
  background-color: #2D2D2D !important;
  margin: 20px 0px;
  border-radius: 60%;
}
.chat-ai-answer > pre {
  display: block;
  width: 100%!important; 
  /* TODO: 需要优化 自适应 */
  max-width: 600px;
}
.chat-ai-answer p > code {
  color: #0099ff !important;

}
.chat-ai-answer li > code {
  color: #0099ff !important;
}
.chat-ai-answer p > a {
  color: #ffff ;
}
.chat-ai-answer a {
  color: #ffff ;
}